<a href="https://colab.research.google.com/github/theodoreraff/credit-risk-prediction/blob/master/credit_risk_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import necessary libraries
import pandas as pd
import numpy as np

In [ ]:
# Set display options for better readability
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)

In [ ]:
# Define the file path for clarity and easy modification
file_path = '/loan_data_2007_2014.csv'

try:
  df = pd.read_csv(file_path, low_memory=False)
  print(f"‚úÖ Dataset loaded successfully from your Google Drive.")
except FileNotFoundError:
  print(f"‚ùå Error: File not found at the specified path.")
  print("üëâ Please check the 'file_path' and make sure the file exists.")
except Exception as e:
  print(f"‚ùå An unexpected error occured: {e}")

‚úÖ Dataset loaded successfully from your Google Drive.

In [24]:
# The following analysis will only run if the data was loaded successfully
if df is not None:

  # 3. INITIAL INSPECTION: A First Look at the Data
  # ----------------------------------------------------
  print("\n" + "="*50)
  print("INITIAL DATA INSPECTION")
  print("="*50)

  # (1) First 5 Rows: A quick look at the Data
  print("\n(1) First 5 rows of the dataset:")
  display(df.head())

  # (2) Dataset Shape: How many rows and columns?
  print(f"\n(2) The dataset has {df.shape[0]} rows and {df.shape[1]} columns.")

  # (3) Data types: A summary of each column
  print("\n(3) Column data types and non-null values:")
  df.info()

  # (4) Duplicate Rows: Checking for duplicates
  print(f"\n(4) Found {df.duplicated().sum()} duplicate rows.")

  # (5) Missing Values
  print("\n(5) Missing values summary (Top 15):")
  missing_values = df.isnull().sum()
  missing_values = missing_values[missing_values > 0].sort_values(ascending=False)
  if not missing_values.empty:
    display(missing_values.head(15))
  else:
    print("‚ú® No missing values found.")

  # () Statistical Summary
  print("\n(6) Descriptive Statistics:")
  display(df.describe(include='all').T)
else:
  print("‚ùå DataFrame not loaded. Please run the data loading cell first.")

==================================================
INITIAL DATA INSPECTION
==================================================

(1) First 5 rows of the dataset:

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-85,1.0,NaN,NaN,3.0,0.0,13648,83.7,9.0,f,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,Jan-15,171.62,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0.0,Apr-99,5.0,NaN,NaN,3.0,0.0,1687,9.4,4.0,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,small_business,real estate business,606xx,IL,8.72,0.0,Nov-01,2.0,NaN,NaN,2.0,0.0,2956,98.5,10.0,f,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,Jun-14,649.91,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0.0,Feb-96,1.0,35.0,NaN,10.0,0.0,5598,21.0,37.0,f,0.0,0.0,12226.302210,12226.30,10000.00,2209.33,16.97,0.00,0.00,Jan-15,357.48,NaN,Jan-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0.0,Jan-96,0.0,38.0,NaN,15.0,0.0,27783,53.9,38.0,f,766.9,766.9,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.00,Jan-16,67.79,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

(2) The dataset has 466285 rows and 75 columns.

(3) Column data types and non-null values:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466285 entries, 0 to 466284
Data columns (total 75 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Unnamed: 0                   466285 non-null  int64
 1   id                           466285 non-null  int64
 2   member_id                    466285 non-null  int64
 3   loan_amnt                    466285 non-null  int64
 4   funded_amnt                  466285 non-null  int64
 5   funded_amnt_inv              466285 non-null  float64
 6   term                         466285 non-null  object
 7   int_rate                     466285 non-null  float64
 8   installment                  466285 non-null  float64
 9   grade                        466285 non-null  object
 10  sub_grade                    466285 non-null  object
 11  emp_title                    438697 non-null  object
 12  emp_length                   445277 non-null  object
 13  home_ownership               466285 non-null  object
 14  annual_inc                   466281 non-null  float64
 15  verification_status          466285 non-null  object
 16  issue_d                      466285 non-null  object
 17  loan_status                  466285 non-null  object
 18  pymnt_plan                   466285 non-null  object
 19  url                          466285 non-null  object
 20  desc                         125981 non-null  object
 21  purpose                      466285 non-null  object
 22  title                        466264 non-null  object
 23  zip_code                     466285 non-null  object
 24  addr_state                   466285 non-null  object
 25  dti                          466285 non-null  float64
 26  delinq_2yrs                  466256 non-null  float64
 27  earliest_cr_line             466256 non-null  object
 28  inq_last_6mths               466256 non-null  float64
 29  mths_since_last_delinq       215934 non-null  float64
 30  mths_since_last_record       62638 non-null   float64
 31  open_acc                     466256 non-null  float64
 32  pub_rec                      466256 non-null  float64
 33  revol_bal                    466285 non-null  int64
 34  revol_util                   465945 non-null  float64
 35  total_acc                    466256 non-null  float64
 36  initial_list_status          466285 non-null  object
 37  out_prncp                    466285 non-null  float64
 38  out_prncp_inv                466285 non-null  float64
 39  total_pymnt                  466285 non-null  float64
 40  total_pymnt_inv              466285 non-null  float64
 41  total_rec_prncp              466285 non-null  float64
 42  total_rec_int                466285 non-null  float64
 43  total_rec_late_fee           466285 non-null  float64
 44  recoveries                   466285 non-null  float64
 45  collection_recovery_fee      466285 non-null  float64
 46  last_pymnt_d                 465909 non-null  object
 47  last_pymnt_amnt              466285 non-null  float64
 48  next_pymnt_d                 239071 non-null  object
 49  last_credit_pull_d           466243 non-null  object
 50  collections_12_mths_ex_med   466140 non-null  float64
 51  mths_since_last_major_derog  98974 non-null   float64
 52  policy_code                  466285 non-null  int64
 53  application_type             466285 non-null  object
 54  annual_inc_joint             0 non-null       float64
 55  dti_joint                    0 non-null       float64
 56  verification_status_joint    0 non-null       float64
 57  acc_now_delinq               466256 non-null  float64
 58  tot_coll_amt                 396009 non-null  float64
 59  tot_cur_bal                  396009 non-null  float64
 60  open_acc_6m                  0 non-null       float64
 61  open_il_6m                   0 non-null       float64
 62  open_il_12m                  0 non-null       float64
 63  open_il_24m                  0 non-null       float64
 64  mths_since_rcnt_il           0 non-null       float64
 65  total_bal_il                 0 non-null       float64
 66  il_util                      0 non-null       float64
 67  open_rv_12m                  0 non-null       float64
 68  open_rv_24m                  0 non-null       float64
 69  max_bal_bc                   0 non-null       float64
 70  all_util                     0 non-null       float64
 71  total_rev_hi_lim             396009 non-null  float64
 72  inq_fi                       0 non-null       float64
 73  total_cu_tl                  0 non-null       float64
 74  inq_last_12m                 0 non-null       float64
dtypes: float64(46), int64(7), object(22)
memory usage: 266.8+ MB

(4) Found 0 duplicate rows.

(5) Missing values summary (Top 15):

inq_fi                       466285
open_rv_24m                  466285
max_bal_bc                   466285
all_util                     466285
inq_last_12m                 466285
annual_inc_joint             466285
verification_status_joint    466285
dti_joint                    466285
total_cu_tl                  466285
il_util                      466285
mths_since_rcnt_il           466285
total_bal_il                 466285
open_il_24m                  466285
open_il_12m                  466285
open_il_6m                   466285
dtype: int64

(6) Descriptive Statistics:

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Unnamed: 0,466285.0,NaN,NaN,NaN,233142.0,134605.029472,0.0,116571.0,233142.0,349713.0,466284.0
id,466285.0,NaN,NaN,NaN,13079729.906182,10893711.624551,54734.0,3639987.0,10107897.0,20731209.0,38098114.0
member_id,466285.0,NaN,NaN,NaN,14597660.622827,11682367.44145,70473.0,4379705.0,11941075.0,23001541.0,40860827.0
loan_amnt,466285.0,NaN,NaN,NaN,14317.277577,8286.509164,500.0,8000.0,12000.0,20000.0,35000.0
funded_amnt,466285.0,NaN,NaN,NaN,14291.801044,8274.3713,500.0,8000.0,12000.0,20000.0,35000.0
funded_amnt_inv,466285.0,NaN,NaN,NaN,14222.329888,8297.637788,0.0,8000.0,12000.0,19950.0,35000.0
term,466285,2,36 months,337953,NaN,NaN,NaN,NaN,NaN,NaN,NaN
int_rate,466285.0,NaN,NaN,NaN,13.829236,4.357587,5.42,10.99,13.66,16.49,26.06
installment,466285.0,NaN,NaN,NaN,432.061201,243.48555,15.67,256.69,379.89,566.58,1409.99
grade,466285,7,B,136929,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sub_grade,466285,35,B3,31686,NaN,NaN,NaN,NaN,NaN,NaN,NaN
emp_title,438697,205475,Teacher,5399,NaN,NaN,NaN,NaN,NaN,NaN,NaN
emp_length,445277,11,10+ years,150049,NaN,NaN,NaN,NaN,NaN,NaN,NaN
home_ownership,466285,6,MORTGAGE,235875,NaN,NaN,NaN,NaN,NaN,NaN,NaN
annual_inc,466281.0,NaN,NaN,NaN,73277.38147,54963.568654,1896.0,45000.0,63000.0,88960.0,7500000.0
verification_status,466285,3,Verified,168055,NaN,NaN,NaN,NaN,NaN,NaN,NaN
issue_d,466285,91,Oct-14,38782,NaN,NaN,NaN,NaN,NaN,NaN,NaN
loan_status,466285,9,Current,224226,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pymnt_plan,466285,2,n,466276,NaN,NaN,NaN,NaN,NaN,NaN,NaN
url,466285,466285,https://www.lendingclub.com/browse/loanDetail....,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
desc,125981,124435,,234,NaN,NaN,NaN,NaN,NaN,NaN,NaN
purpose,466285,14,debt_consolidation,274195,NaN,NaN,NaN,NaN,NaN,NaN,NaN
title,466264,63098,Debt consolidation,164075,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zip_code,466285,888,945xx,5304,NaN,NaN,NaN,NaN,NaN,NaN,NaN
addr_state,466285,50,CA,71450,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dti,466285.0,NaN,NaN,NaN,17.218758,7.851121,0.0,11.36,16.87,22.78,39.99
delinq_2yrs,466256.0,NaN,NaN,NaN,0.284678,0.797365,0.0,0.0,0.0,0.0,29.0
earliest_cr_line,466256,664,Oct-00,3674,NaN,NaN,NaN,NaN,NaN,NaN,NaN
inq_last_6mths,466256.0,NaN,NaN,NaN,0.804745,1.091598,0.0,0.0,0.0,1.0,33.0
mths_since_last_delinq,215934.0,NaN,NaN,NaN,34.10443,21.778487,0.0,16.0,31.0,49.0,188.0
mths_since_last_record,62638.0,NaN,NaN,NaN,74.306012,30.357653,0.0,53.0,76.0,102.0,129.0
open_acc,466256.0,NaN,NaN,NaN,11.187069,4.987526,0.0,8.0,10.0,14.0,84.0
pub_rec,466256.0,NaN,NaN,NaN,0.160564,0.510863,0.0,0.0,0.0,0.0,63.0
revol_bal,466285.0,NaN,NaN,NaN,16230.203487,20676.245152,0.0,6413.0,11764.0,20333.0,2568995.0
revol_util,465945.0,NaN,NaN,NaN,56.176947,23.732628,0.0,39.2,57.6,74.7,892.3
total_acc,466256.0,NaN,NaN,NaN,25.06443,11.600141,1.0,17.0,23.0,32.0,156.0
initial_list_status,466285,2,f,303005,NaN,NaN,NaN,NaN,NaN,NaN,NaN
out_prncp,466285.0,NaN,NaN,NaN,4410.062342,6355.078769,0.0,0.0,441.47,7341.65,32160.38
out_prncp_inv,466285.0,NaN,NaN,NaN,4408.452258,6353.198001,0.0,0.0,441.38,7338.39,32160.38
total_pymnt,466285.0,NaN,NaN,NaN,11540.68622,8265.627112,0.0,5552.125349,9419.250943,15308.15846,57777.57987
total_pymnt_inv,466285.0,NaN,NaN,NaN,11469.892747,8254.157579,0.0,5499.25,9355.43,15231.31,57777.58
total_rec_prncp,466285.0,NaN,NaN,NaN,8866.014657,7031.687997,0.0,3708.56,6817.76,12000.0,35000.03
total_rec_int,466285.0,NaN,NaN,NaN,2588.677225,2483.809661,0.0,957.28,1818.88,3304.53,24205.62
total_rec_late_fee,466285.0,NaN,NaN,NaN,0.650129,5.26573,0.0,0.0,0.0,0.0,358.68
recoveries,466285.0,NaN,NaN,NaN,85.344211,552.216084,0.0,0.0,0.0,0.0,33520.27
collection_recovery_fee,466285.0,NaN,NaN,NaN,8.961534,85.491437,0.0,0.0,0.0,0.0,7002.19
last_pymnt_d,465909,98,Jan-16,179620,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last_pymnt_amnt,466285.0,NaN,NaN,NaN,3123.913796,5554.737393,0.0,312.62,545.96,3187.51,36234.44
next_pymnt_d,239071,100,Feb-16,208393,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last_credit_pull_d,466243,103,Jan-16,327699,NaN,NaN,NaN,NaN,NaN,NaN,NaN
collections_12_mths_ex_med,466140.0,NaN,NaN,NaN,0.009085,0.108648,0.0,0.0,0.0,0.0,20.0
mths_since_last_major_derog,98974.0,NaN,NaN,NaN,42.852547,21.662591,0.0,26.0,42.0,59.0,188.0
policy_code,466285.0,NaN,NaN,NaN,1.0,0.0,1.0,1.0,1.0,1.0,1.0
application_type,466285,1,INDIVIDUAL,466285,NaN,NaN,NaN,NaN,NaN,NaN,NaN
annual_inc_joint,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dti_joint,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
verification_status_joint,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
acc_now_delinq,466256.0,NaN,NaN,NaN,0.004002,0.068637,0.0,0.0,0.0,0.0,5.0
tot_coll_amt,396009.0,NaN,NaN,NaN,191.913517,14630.214605,0.0,0.0,0.0,0.0,9152545.0
tot_cur_bal,396009.0,NaN,NaN,NaN,138801.713385,152114.663494,0.0,28618.0,81539.0,208953.0,8000078.0
open_acc_6m,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
open_il_6m,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
open_il_12m,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
open_il_24m,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mths_since_rcnt_il,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
total_bal_il,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
il_util,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
open_rv_12m,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
open_rv_24m,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max_bal_bc,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
all_util,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
total_rev_hi_lim,396009.0,NaN,NaN,NaN,30379.087771,37247.129571,0.0,13500.0,22800.0,37900.0,9999999.0
inq_fi,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
total_cu_tl,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
inq_last_12m,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
# 4. ROW UNIQUENESS CHECK: Making sure each row is one loan
# -----------------------------------------------------------

if df is not None:
  total_rows = len(df)
  unique_ids = df['id'].nunique()

  print(f"Total Rows: {total_rows}")
  print(f"Unique 'id' values: {unique_ids}")

  if unique_ids == total_rows:
    print("\n‚úÖ Passed: Each row represents a unique loan.")
  else:
    print(f"\n‚ùå Failed: Number of unique IDs doesn't match total rows.")
else:
  print("‚ùå DataFrame not loaded. Please run the data loading cell first.")

Total Rows: 466285
Unique 'id' values: 466285

‚úÖ Passed: Each row represents a unique loan.

In [30]:
# 5. DATA CLEANING: DROPPING UNNECESSARY COLUMNS
# ----------------------------------------------------
# We will drop columns that are not useful for prediction.
# This includes unique IDs, free text, columns with too many missing values,
# and others that don't add predictive value.

if df is not None:
  # Define the columns to be dropped with clear reasons
  cols_to_drop = [
      # 1. Unique ID / Identifiers
      'id', 'member_id', 'Unnamed: 0',

      # 2. Free text
      'url', 'desc',

      # 3. All null / Redudant / Post-loan data
      'zip_code', 'annual_inc_joint', 'dti_joint', 'verification_status_joint',
      'open_acc_6m', 'open_il_6m', 'open_il_12m', 'open_il_24m',
      'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m',
      'open_rv_24m', 'max_bal_bc', 'all_util', 'inq_fi', 'total_cu_tl',
      'inq_last_12m', 'mths_since_last_major_derog', 'tot_coll_amt',
      'tot_cur_bal', 'total_rev_hi_lim',

      # Expert Judgment (sub_grade is redudant if we use grade)
      'sub_grade'
  ]
  # Store original shape for verification
  original_shape = df.shape

  # Drop the columns
  # Best practice is to re-assign the dataframe instead of using inplace=True
  df = df.drop(columns=cols_to_drop, errors='ignore')

  # Verify the operation with a clear before-and-after message
  print("Columns dropped successfully.")
  print(f"Shape before dropping: {original_shape}")
  print(f"Shape after dropping:  {df.shape}")
else:
    print("‚ùå DataFrame not loaded. Please run the data loading cell first.")

Columns dropped successfully.
Shape before dropping: (466285, 75)
Shape after dropping:  (466285, 47)

In [31]:
# 5. DEFINE THE TARGET VARIABLE
# ----------------------------------------------------
# Our goal is to predict credit risk. We need to create a binary target variable
# where 1 = "Bad Loan" (high-risk) and 0 = "Good Loan" (low-risk).

if df is not None:
    # --- Step 1: Explore the original 'loan_status' column ---
    # It's good practice to show the original distribution first.
    print("--- (1) Original distribution of 'loan_status': ---")
    print(df['loan_status'].value_counts(normalize=True) * 100)


    # --- Step 2: Create the binary target variable ---
    # Define which statuses are considered "bad". This is a critical business decision.
    bad_loan_statuses = [
        'Charged Off',
        'Default',
        'Does not meet the credit policy. Status:Charged Off',
        'Late (31-120 days)'
    ]

    # Create the new 'target' column.
    # If 'loan_status' is in our bad list, set 'target' to 1, otherwise 0.
    df['target'] = np.where(df['loan_status'].isin(bad_loan_statuses), 1, 0)


    # --- Step 3: Verify the new 'target' column ---
    # This confirms the transformation and shows the class balance.
    print("\n--- (2) Distribution of the new 'target' variable: ---")
    # 0 = Good Loan, 1 = Bad Loan
    print(df['target'].value_counts(normalize=True) * 100)


    # --- Step 4: Clean up ---
    # Drop the original 'loan_status' column as it's no longer needed.
    df.drop(columns=['loan_status'], inplace=True)
    print("\n‚úÖ 'target' column created and original 'loan_status' column dropped.")

else:
    print("‚ùå DataFrame not loaded. Please run the data loading cell first.")

--- (1) Original distribution of 'loan_status': ---
loan_status
Current                                                48.087757
Fully Paid                                             39.619332
Charged Off                                             9.109236
Late (31-120 days)                                      1.479782
In Grace Period                                         0.674695
Does not meet the credit policy. Status:Fully Paid      0.426349
Late (16-30 days)                                       0.261214
Default                                                 0.178432
Does not meet the credit policy. Status:Charged Off     0.163205
Name: proportion, dtype: float64

--- (2) Distribution of the new 'target' variable: ---
target
0    89.069346
1    10.930654
Name: proportion, dtype: float64

‚úÖ 'target' column created and original 'loan_status' column dropped.

In [39]:
# 6. DATA CLEANING
# ----------------------------------------------------
# In this section, we clean and transform columns to make them usable for modeling.
# This includes extracting numbers, converting data types, and correcting data errors.

if df is not None:
    # --- (1) Clean 'emp_length' column ---
    # Extracts the number of years and converts to a numeric type.
    df['emp_length_years'] = df['emp_length'].str.extract(r'(\d+)').astype(float)

    # --- (2) Clean 'term' column ---
    # Converts "36 months" / "60 months" to numbers.
    df['term_months'] = df['term'].str.replace(' months', '').astype(float)

    # --- (3) Clean 'earliest_cr_line' (The Correct Way) ---
    # Convert to datetime objects. `errors='coerce'` will turn un-parseable dates into NaT (Not a Time).
    df['earliest_cr_line_date'] = pd.to_datetime(df['earliest_cr_line'], format='%b-%y', errors='coerce')

    # THE FIX: If a date is in the future (e.g., 2062), subtract 100 years.
    # We use today's date to check if the parsed date is in the future.
    current_date = pd.to_datetime('today')
    df.loc[df['earliest_cr_line_date'] > current_date, 'earliest_cr_line_date'] -= pd.DateOffset(years=100)

    # Calculate the months since the earliest credit line until a reference date.
    # Let's use the latest loan issue date in the dataset as the reference point.
    # First, convert 'issue_d' to datetime
    df['issue_d_date'] = pd.to_datetime(df['issue_d'], format='%b-%y', errors='coerce')
    reference_date = df['issue_d_date'].max()

    # Calculate the difference in months
    df['mths_since_earliest_cr_line'] = round((reference_date - df['earliest_cr_line_date']) / np.timedelta64(1, 'M'))

    # --- (4) Drop Original and Intermediate Columns ---
    # Now that we have the cleaned features, we can drop the old ones.
    cols_to_drop = ['emp_length', 'term', 'earliest_cr_line', 'earliest_cr_line_date', 'issue_d']
    df.drop(columns=cols_to_drop, inplace=True, errors='ignore')

    print("‚úÖ Data cleaning complete for 'emp_length', 'term', and 'earliest_cr_line'.")
    # You can display a sample to verify the new columns
    display(df[['emp_length_years', 'term_months', 'mths_since_earliest_cr_line', 'issue_d_date']].head())
    display(df[['mths_since_earliest_cr_line']].describe())

else:
    print("‚ùå DataFrame not loaded. Please run the data loading cell first.")

AttributeError: Can only use .str accessor with string values!